@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
}

body{
  background-color: #DDD;
}

.logo{
  margin: 10px;
  font-size: 60px;
}

span{
  color: blue;
}

input{
  font-size: 20px;
}

.chat-content{
  font-size: 20px;
  width: 99.2%;
  padding: 5px;
}

#chatLog{
  background-color: #FFE5CC;
  border: solid;
  height: 400px;
  overflow: scroll;
}

.input-place{
  margin: 10px;
}

button{
  font-size: 16px;
}

.chatting{
  display: none;
  width: 80%;
  margin: 0 auto;
}

#leaveRoom{
  float: right;
}

.roomList{
  margin: 5px;
  font-size: 32px;
  width: 50%;
}

.roominfo{
  margin: 5px;
}

li:hover{
  background-color: #FFB266;
}

.message-time{
  float: right;
  font-size: 14px;
}

.para-server{
  text-align: center;
  border-bottom: solid;
}

.para-self, .para-someone-else{
  margin-top: 5px;
  font-size: 22px;
}

.para-self{
  text-align: right;
}

.self{
  background-color: #51B7F2;
}

.someone-else{
  color: white;
  background-color: #234BD1;
}

.message-content{
  padding: 5px;
  margin: 200px;
  border-color: #51B7F2;
  border-radius: 5px;
  font-family: 'Poppins';
}
